body {
  background-color: #efefef;
}
.wrapper {
}



.Pirmas-blokas,
.slider,
.rezultatai {
  max-width: 600px;
  padding: 20px;
  padding-left: 50px;
  padding-right: 200px;
  margin: 1px auto;
  background-color: #ffffff;
}



img {
  width: 200px;
  height: 170px;
}

button{
    border: none;
    padding: 0.5rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    background-color: #e6e6e6;
}
#Pirmas-receptas,
#antras-receptas,
#trecias-receptas {
  width: 200px;
  height: auto;
  margin-right: 5rem;
  background-color: #e6e6e6;
}
.visi-receptai {
  display: flex;
}
h2,
p {
  padding: 0.5rem;
  margin: 0.5px;
}
h2 {
  text-align: center;
}


#antras-blokas {
    max-width: 600px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 200px;
    margin: 20px auto;
    background-color: #ffffff;
}
.Pirmas-blokas h1{
    margin-top: 0;
}
/* .range input {
  width: 320px;
} */
/* .range label {
  font-size: 2em;
  font-weight: bold;
}

.range {
    --ticksThickness: 2px;
    --ticksHeight: 30%;
    --ticksColor: silver;
    
    
    display: inline-block;
    background: linear-gradient(to right, var(--ticksColor) var(--ticksThickness), transparent 1px) repeat-x;
    background-size: calc(100%/((var(--max) - var(--min)) / var(--step)) - .1%) var(--ticksHeight);
    background-position: 0 bottom;
    position: relative;
  }
  
  
  /* min / max labels at the edges */
  .range::before, .range::after {
    font: 12px monospace;
    content: counter(x);
    position: absolute;
    bottom: -2ch;
  }
  
  .range::before {
    counter-reset: x var(--min);
    transform: translateX(-50%);
  }
  
  .range::after {
    counter-reset: x var(--max);
    right: 0;
    transform: translateX(50%);
  }
  
  
  .range > input {
    width: 600px;
    margin: 10px -6px; /* Critical adjustment */
  } */